<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News Classifier</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>   
</head>

<body>
    <canvas id="c" class="abs center"></canvas>

    <div class="abs center overlay container">
        <input style="width: 40%; height: 50px;" type="text" name="chat" id="chatbox"
            placeholder="Enter the news to check whether its true or not!!!">
        <button id="rec" style="height: 55px;width: 7%;">Verify</button>
        <div id="prediction-result"></div>
    </div>
    

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#rec').on('click', function(event) {
            event.preventDefault();
            var inputText = $('#chatbox').val();
            $.ajax({
                url: '/predict',
                method: 'POST',
                data: {input_text: inputText},
                success: function(response) {
                    $('#prediction-result').html('Prediction: ' + response.prediction);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
</script>
</html>